/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';

/* components */
@import '../components/button.css';
@import '../components/header.css';

/* CUSTOM STYLE GOES BELOW THIS COMMENT LINE */

/* header start */
/* header end */

/* hero start */
.hero {
    min-height: 100vh;
    justify-content: center;
    background-image: url(../../img/hero.png);
    background-size: cover;
    background-position: center;
}
.hero .col-12 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.hero .before-title {
    font-weight: bold;
}
.hero .hero-title {
    font-size: 44px;
    color: var(--primary-color);
}
.hero .hero-description {
    margin: 0.5em 0;
    font-family: Roboto, sans-serif;
    font-size: 17px;
    line-height: 2em;
    color: #777;
}
.hero .hero-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
/* hero end */

/* about me start */
.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}
.about > .profession {
    font-weight: 600;
}
.about > img {
    height: 30px;
}
/* about me end */

/* hobbies start */
/* hobbies end */

/* achievements start */
/* achievements end */

/* services start */
/* services end */

/* work start */
/* work end */

/* expertise start */
/* expertise end */

/* portfolio start */
/* portfolio end */

/* testimonials start */
/* testimonials end */

/* blog start */
/* blog end */

/* freelancer start */
/* freelancer end */

/* contact me start */
/* contact me end */

/* footer start */
/* footer end */
